General Rules * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  background-color: #ededed;
}

/*Afin que les images ne débordent jamais*/
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: #2e3333;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*header*/

.container-logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.container-header {
  background-image: url('../assets//images//background-header.png');
  background-size: cover;
  height: 667px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-header {
  color: #ffd15b;
  display: flex;
  align-items: center;
  font-family: Anton;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: center;
  width: 50%;
}

/*container rechercher nav*/

.input-container {
  display: flex;
  align-items: center;
}

.container-search {
  position: relative;
}

.clear-inputNav {
  position: absolute;
  right: 75px;
  display: none;
}

/*container rechercher filters*/

.inputIconContainer {
  display: flex;
  align-items: center;
}

.inputIconContainer {
  position: relative;
}

.closeInputFilter {
  width: 70%;
  display: none;
}

.clear-inputFilter {
  display: none;
  position: absolute;
  right: 25px;
}

.input-search {
  width: 954px;
  height: 72px;
  border-radius: 11px;
  color: #7a7a7a;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  padding: 30px;
}

.container-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding: 12px;
}

.icon-search {
  background-color: #1b1b1b;
  width: 51px;
  height: 52px;
  position: absolute;
  border-radius: 10px;
  top: 10px;
  right: 10px;
}

.main {
  background-color: #ededed;
  width: 100%;
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
}

.filter-top-main {
  /* height: 100px; */
  width: 85%;
  display: flex;
  background-color: #ededed;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container-filters {
  width: 735px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-numbersOfRecipes {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
}

/*container selected option INGREDIENT*/

.container-selected-option-ingredient {
  width: 203px;
  height: 53px;
  background-color: #ffd15b;
  border-radius: 10px;
  display: none;
}

p.selected-option-ingredient {
  display: flex;
  justify-content: center;
}

.container-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.clear-inputOption {
  cursor: pointer;
}

/*Card pour les recettes*/

.card-recipes-bottom-main {
  height: 800px;
  background-color: #ededed;
  width: 87%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
}

.card {
  width: 380px;
  height: 680px;
  border-radius: 21px;
  background-color: white;
  margin-bottom: 50px;
}

.container-top {
  height: 253px;
  position: relative;
}

.duration-recipes {
  background-color: #ffd15b;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 15px 5px 15px;
}

.img-recipes {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.container-bottom {
  padding: 20px;
}

.name-title-recipes {
  font-family: Anton;
  font-size: 18px;
  color: #000000;
}

.title-recipes,
.title-ingredients {
  color: #7a7a7a;
  font-weight: 700;
  font-size: 12px;
}

h4.title-recipes {
  text-transform: uppercase;
}

h5.title-ingredients {
  text-transform: uppercase;
}

.instructions-recipes {
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.12px;
}

p.instructions-recipes {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all-items-ingredients {
  display: flex;
  width: 100%;
  height: 13rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -15px;
}

.ingredient-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: Manrope;
  font-weight: 500;
}

.quantity-item-ingredients {
  color: #7a7a7a;
}

span.ingredient-quantity {
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
  font-family: Manrope;
}

/** dropdown**/
/* Style du conteneur */
.hide-ingredient {
  max-height: 0 !important;
}

.dropdown-ingredient {
  border: 0.1em solid white;
  margin-bottom: 1em;
  border-radius: 11px;
  cursor: pointer;
  background-color: white;
  margin-top: 15px;
  width: 200px;
}

.dropdown-ingredient .menu {
  transition: max-height 0.5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown-ingredient .menu .option {
  /* margin: 0.3em 0.3em 0.3em 0.3em; */
  margin-top: 0.3em;
  /* padding: 15px; */
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.dropdown-ingredient .menu .option:hover {
  background: #ffd15b;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  /* padding: 15px; */
}

.dropdown-ingredient .title {
  width: 100%;
}

/* Style de l'icône de chevron */
.dropdown-ingredient .title .fa-angle-down {
  float: right;
  margin-right: 0.7em;
  transition: transform 0.3s;
  margin: 0;
}

/* Lorsque le dropdown est actif (classe "active") */
.dropdown-ingredient.active .title .fa-angle-down {
  transform: rotate(180deg);
  margin: 0;
}

.search-container {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.input-searchInputFilter {
  width: 100%;
  padding: 8px;
}

.inputIconContainer {
  position: relative;
}

span.container-iconSearch {
  position: absolute;
  right: 5px;
  top: 9px;
}

.container-option-ingredient {
  max-height: 200px;
  overflow-y: auto;
}

.title.pointerCursor {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 500;
  font-family: Manrope;
  justify-content: space-between;
}

.title.pointerCursor {
  padding: 15px;
  width: 85%;
}

.pointerCursor:hover {
  cursor: pointer;
}

.rotate-90 {
  transform: rotate(90deg);
}

.option {
  font-size: 14px;
  line-height: 19.12px;
  font-family: Manrope;
  font-weight: 400;
}

/** dropdown appliance**/
/* Style du conteneur */
.hide-appliance {
  max-height: 0 !important;
}

.dropdown-appliance {
  border: 0.1em solid white;
  margin-bottom: 1em;
  border-radius: 11px;
  cursor: pointer;
  background-color: white;
  margin-top: 15px;
  width: 200px;
}

.dropdown-appliance .menu-appliance {
  transition: max-height 0.5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown-appliance .menu-appliance .option-appliance {
  /* margin: 0.3em 0.3em 0.3em 0.3em; */
  margin-top: 0.3em;
  /* padding: 15px; */
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.dropdown-appliance .menu-appliance .option-appliance:hover {
  background: #ffd15b;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  /* padding: 15px; */
}

.dropdown-appliance .title-appliance {
  width: 100%;
}

/* Style de l'icône de chevron */
.dropdown-appliance .title-appliance .fa-angle-down {
  float: right;
  margin-right: 0.7em;
  transition: transform 0.3s;
  margin: 0;
}

/* Lorsque le dropdown est actif (classe "active") */
.dropdown-appliance.active-appliance .title-appliance .fa-angle-down {
  transform: rotate(180deg);
  margin: 0;
}

.search-container-appliance {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.input-searchInputFilterAppliance {
  width: 100%;
  padding: 8px;
}

.inputIconContainerAppliance {
  position: relative;
}

span.container-iconSearchAppliance {
  position: absolute;
  right: 5px;
  top: 9px;
}

.container-option-appliance {
  max-height: 200px;
  overflow-y: auto;
}

.title-appliance.pointerCursorAppliance {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 500;
  font-family: Manrope;
  justify-content: space-between;
}

.title-appliance.pointerCursorAppliance {
  padding: 15px;
  width: 85%;
}

.pointerCursor-appliance:hover {
  cursor: pointer;
}

.rotateAppliance-90 {
  transform: rotate(90deg);
}

.option-appliance {
  font-size: 14px;
  line-height: 19.12px;
  font-family: Manrope;
  font-weight: 400;
}

/*container selected option APPLIANCE*/

.container-selected-option-appliance {
  width: 203px;
  height: 53px;
  background-color: #ffd15b;
  border-radius: 10px;
  display: none;
}

p.selected-option-appliance {
  display: flex;
  justify-content: center;
}

.container-text-appliance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.clear-inputOptionAppliance {
  cursor: pointer;
}

/** dropdown ustensil**/
/* Style du conteneur */
.hide-ustensil {
  max-height: 0 !important;
}

.dropdown-ustensil {
  border: 0.1em solid white;
  margin-bottom: 1em;
  border-radius: 11px;
  cursor: pointer;
  background-color: white;
  margin-top: 15px;
  width: 200px;
}

.dropdown-ustensil .menu-ustensil {
  transition: max-height 0.5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown-ustensil .menu-ustensil .option-ustensil {
  /* margin: 0.3em 0.3em 0.3em 0.3em; */
  margin-top: 0.3em;
  /* padding: 15px; */
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.dropdown-ustensil .menu-ustensil .option-ustensil:hover {
  background: #ffd15b;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  /* padding: 15px; */
}

.dropdown-ustensil .title-ustensil {
  width: 100%;
}

/* Style de l'icône de chevron */
.dropdown-ustensil .title-ustensil .fa-angle-down {
  float: right;
  margin-right: 0.7em;
  transition: transform 0.3s;
  margin: 0;
}

/* Lorsque le dropdown est actif (classe "active") */
.dropdown-ustensil.active-ustensil .title-ustensil .fa-angle-down {
  transform: rotate(180deg);
  margin: 0;
}

.search-container-ustensil {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.input-searchInputFilterUstensil {
  width: 100%;
  padding: 8px;
}

.inputIconContainerUstensil {
  position: relative;
}

span.container-iconSearchUstensil {
  position: absolute;
  right: 5px;
  top: 9px;
}

.container-option-ustensil {
  max-height: 200px;
  overflow-y: auto;
}

.title-ustensil.pointerCursorUstensil {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 21.86px;
  font-weight: 500;
  font-family: Manrope;
  justify-content: space-between;
}

.title-ustensil.pointerCursorUstensil {
  padding: 15px;
  width: 85%;
}

.pointerCursor-ustensil:hover {
  cursor: pointer;
}

.rotateUstensil-90 {
  transform: rotate(90deg);
}

.option-ustensil {
  font-size: 14px;
  line-height: 19.12px;
  font-family: Manrope;
  font-weight: 400;
}

/*container selected option USTENSIL*/

.container-selected-option-ustensil {
  width: 203px;
  height: 53px;
  background-color: #ffd15b;
  border-radius: 10px;
  display: none;
}

p.selected-option-ustensil {
  display: flex;
  justify-content: center;
}

.container-text-ustensil {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.clear-inputOptionUstensil {
  cursor: pointer;
}

/*info no match message*/

.container-info-no-match-message {
  display: flex;
  justify-content: center;
}

.info-no-match-message {
  display: flex;
  justify-content: center;
  color: red;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
  max-width: 940px;
}
